<div class="row row-cols-1 row-cols-sm-2 my-5">
    {% for member in site.members %}
    <div class="col">
        <div class="card text-white bg-secondary mb-3">
            {% if member.picture %}
            <img src="{{ member.picture }}" alt="" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h3 class="h4 card-title">{{ member.firstName }} {{ member.lastName }}</h3>

                {{ member.content | markdownify }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
