.banner {
  $banner-height: 16rem;

  margin-bottom: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 5);

  > img {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: $banner-height;
    width: 100%;

    margin-top: 0 - map-get($spacers, 5);

    object-fit: cover;

    ~ * {
      height: $banner-height - 2 * map-get($spacers, 5);
    }
  }

  h1 {
    img {
      max-height: 5rem;
    }
  }
}
